@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?riz2dp');
  src:  url('fonts/icomoon.eot?riz2dp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?riz2dp') format('truetype'),
    url('fonts/icomoon.woff?riz2dp') format('woff'),
    url('fonts/icomoon.svg?riz2dp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-python:before {
  content: "\e900";
  color: #3776ab;
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin2:before {
  content: "\eaca";
}
